{{log @model}}
<form>
<div class="ml-5">
    {{#if @add}}
        <h1 class="text-center mt-5 mb-5 ">Add Employee</h1>
    {{else}}
        <h1 class="text-center mt-5 mb-5 ">Edit Employee</h1>
    {{/if}}
<div class="d-flex w-75">
<div class="d-flex m-5 flex-column w-25 ">
<label for="eId">Employee ID:</label>
<Input @type="number" name="eId" id="eId" @value={{@model.eId}} min="1" {{on "change" this.updateData}} class="mb-4" />
<label for="firstname">First Name:</label>
<Input @type="text" name="firstname" id="firstname" @value={{@model.firstname}} {{on "change" this.updateData}} class="mb-4"/>
<label for="lastname">Last Name:</label>
<Input @type="text" name="lastname" id="lastname" @value={{@model.lastname}} {{on "change" this.updateData}} class="mb-4"/>
<label for="email">Email:</label>
<Input @type="email" name="email" id="email" @value={{@model.email}} {{on "change" this.updateData}} class="mb-4"/>
</div>
<div class="d-flex m-5 flex-column w-25 ">
<label for="dob">Date of Birth:</label>
<Input @type="date" name="dob" id="dob" @value={{@model.dob}} max="2005-12-31" {{on "change" this.updateData }} class="mb-4"/>
<label for="age">Age:</label>
<Input @type="number" name="age" id="age" @value={{@model.age}} min="18" {{on "change" this.updateData}} class="mb-4"/>
<label for="qualification">Highest Qualification:</label>
<Input @type="text" name="qualification" id="qualification" @value={{@model.qualification}} {{on "change" this.updateData}} class="mb-4"/>
<label for="addr">Address:</label>
<Input @type="text" name="addr" id="addr" @value={{@model.addr}} {{on "change" this.updateData}} class="mb-4"/>
</div>
<div class="d-flex m-5 flex-column w-25 ">
<label for="mobile">Mobile Number:</label>
<Input @type="number" name="mobileNumber" id="mobile" @value={{@model.mobileNumber}} min="1000000000" {{on "change" this.updateData}} class="mb-4"/>
<label for="doj">Date of Joining:</label>
<Input @type="date" name="doj" id="doj" @value={{@model.doj}} {{on "change" this.updateData}} class="mb-4"/>
<label for="designation">Designation:</label>
<Input @type="text" name="designation" id="designation" @value={{@model.designation}} {{on "change" this.updateData}} class="mb-4"/>
<label for="team">Team:</label>
<Input @type="text" name="team" id="team" @value={{@model.team}} {{on "change" this.updateData}} class="mb-4"/>
</div>
<div class="d-flex m-5 flex-column w-25 ">
<label for="shifttime">Shift:</label>
<Input @type="text" name="shifttime" id="shifttime" @value={{@model.shifttime}} {{on "change" this.updateData}} class="mb-4"/>
<label for="location">Office Location:</label> 
<Input @type="text" name="location" id="location" @value={{@model.location}} {{on "change" this.updateData}} class="mb-4"/>
<label for="reporting">Reporting To:</label>
<Input @type="text" name="reporting" id="reporting" @value={{@model.reporting}} {{on "change" this.updateData}} class="mb-4"/>
</div>
</div>
<p class="ml-5 text-danger">{{this.msg}}</p>
{{#if @add}}
    <button type="button" {{on "click" this.saveData }} class="bg-success border-0 text-center ml-5 px-4 py-2 saveButton">Save</button>
{{else}}
    <button type="button" {{on "click" this.editData }} class="bg-success border-0 text-center ml-5 px-4 py-2 saveButton">Save</button>
{{/if}}
<button type="button" {{on "click" this.cancelButton}} class="bg-danger border-0 text-center ml-5 px-4 py-2 saveButton">Cancel</button>
</div>
</form>